.carousel .slide img {
    
    width: 100%;
}

.carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
  height: 100%;
}

.image-container {
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}



.carousel {
    border-bottom: 1px solid #565968;
}

.promo {
    height: 75%;
    width: 100%;
}

.overlay {
    width: 100%;
    position: absolute;
    height: 70vh;
    top: 8rem;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 97;
    display: flex;  
    flex-direction: column;
    -webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    text-align: center;
}

.overlay-text {
    width: 100%;
    flex: 1;
    justify-content: center;

}

.overlay-text-container {
    margin: 0;
    top: 50%;
    left: 50%;
    padding: 150px 10px;
}

.overlay-scroll {
    width: 100%;
    flex: 1;
    justify-content: center;
    max-height: 75px;
    font-size: 56px;
}

.overlay-scroll-button {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    opacity: 1;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.overlay-scroll-button:hover > span > ion-icon{
    color: rgba(256,256,256,1);
    --ionicon-stroke-width: 20px;
    -webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease;
}

.overlay-scroll-button > span > ion-icon {
    color: rgba(256,256,256,.7);
    opacity: 1;
    z-index: 99;
    font-size: 56px!important;
    --ionicon-stroke-width: 16px;
    
  }

.overlay-text-block {
    font-size: 48px;
    flex:1;
    justify-content: end;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: white;
    height: 30vh;
}

.overlay-text-block h1 {
    width: 100%;
    padding-left: 20px;
    font-size: 48px;
    margin-top : 50px;
    flex: 1;

}
.contact-us-button {
    padding: 7px;
    font-size: 2rem;
    margin: 30px auto;
    flex: 1;
    background: #0ea365;
    color: white;
}

.contact-us-button:hover {
    color: white;
}

.contact-us-button ion-icon {
    font-size: 24px;
    
}

@media(max-width: 769px){
    .overlay {
        top: 6rem;
    }
}

.section-divider {
    margin:  15px auto;
}

hr.divider  {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0, #f0f0f0);
}

section{
    text-align: center;
    padding: 60px 0;
    max-width: 120rem;
    margin: 0 auto;
}
section .section-title{
    font-size: 32px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    color: #222222;

	
}

section .section-title:before, section .section-title:after{
    content: '';
    width: 50px;
    height: 2px;
    background: #0ea365;
    display: inline-block;
    
}

.section-title::before {
    margin: 0 15px 10px 0;
}

.section-title::after {
    margin: 0 0px 10px 15px;
}

.icon {
    color: #3b7bbe;;
    font-size:48px;
  }
  
  .thin {
    --ionicon-stroke-width: 20px;
  }

  

#services .card{
	padding: 5rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    min-height: 185px;
}
#services .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#services .cardbody{
    display: flex;
}
#services .card .card-block{
    flex: 1;
}

#services .card .icon-block{
    width: 70px;
    padding: 10px;
}
#services .card .card-block a{
	color: #3b7bbe !important;
	font-weight:700;
	text-decoration:none;
}
#services .card .card-block a i{
	display:none;
	
}
#services .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}

#services .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
