.react-images__positioner {
    margin-top: 8rem;
}




a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

@media(max-width: 769px){
    .react-images__positioner {
        margin-top: 5rem;
    }
}
.flex-container {
    max-width: 120rem;

    margin: auto;
    padding: 2rem 2rem 8rem 2rem;
    width: 100%;
    flex: 1;
}


.grid item {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid item img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}

.grid item caption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid item caption::before,
.grid item caption::after {
    pointer-events: none;
}

.grid item caption,
.grid item caption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid item caption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid item h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid item h2 span {
    font-weight: 800;
}

.grid item h2,
.grid item p {
    margin: 0;
}

.grid item p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



item.gallery-item {
    background: #3c3d41;
    margin: 0;
}

.grid [class^="col"] {
    padding: 2px;
}

item.gallery-item h2 {
    font-size: 158.75%;
}

item.gallery-item h2,
item.gallery-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

item.gallery-item caption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

item.gallery-item p {
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

item.gallery-item p a {
    color: #fff;
}

item.gallery-item p a:hover,
item.gallery-item p a:focus {
    opacity: 0.6;
}

item.gallery-item p span {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}


item.gallery-item:hover caption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

item.gallery-item:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

item.gallery-item:hover p span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}