.react-images__positioner {
    margin-top: 8rem;
}

section{
    padding: 40px 0;
    max-width: 120rem;
    margin: 0 auto;
}
section .section-title{
	text-align:center;
	color:#3b7bbe;
    text-transform:uppercase;
    font-weight: 100;
    line-height: 1em;
    position: relative;
}

section .section-title:before{
    background: #25ae62 none repeat scroll 0 0;
    margin-top: 2.5px;
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}

@media(max-width: 769px){
    .react-images__positioner {
        margin-top: 5rem;
    }
}